.cache.mk
.tmp_versions/
Module.symvers
modules.order
debian/debhelper-build-stamp
debian/files
debian/hellodriver.debhelper.log
debian/hellodriver.substvars
debian/hellodriver/
debian/.debhelper/
debian/hellodriver.postinst.debhelper
debian/hellodriver.postrm.debhelper
*.o.cmd
*.ko.cmd
*.mod.o.cmd
*.ko
*.mod.c
*.mod.o
*.o
built-in.o
